__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.db
*.sqlite3
*.ipynb

# Git stuff
.git/
.gitignore

# OS files
.DS_Store

# Python environments
env/
venv/
.venv/

# Model training artifacts not needed in image
data/
src/
